.contImg{
  width: 250px;
  height: 300px;
  box-shadow:  1px 1px 4px 4px rgb(236, 231, 231);
  border-radius: 10px;
  margin: 10px;
}
.imgCont{
  width:100%;
  height: 30px;
text-align: center;
}
.imgCont img{
  width: 70px;
  height: 60px;
  text-align: center;
  margin-top: 20px;
  background-color: white;
  border-radius: 50%;
}
 
 .textCont h2{
  font-size: 30px;
  text-align: center;
  margin-top: 80px;
 }
 .textCont p{
  font-size: 20px;
  text-align: center;

 }
 .contImg:hover{
  background-color: rgb(72, 176, 255);
  color: white;
 }